* {
    margin: 0;
    padding: 0;
}

.coffee-nav{
	float: right;
	height: 100%;
}
 
.navbar {
    background-color: #640606;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.navlink {
    display: inline;
    margin: 0 10px;
}

.navAnchor {
    color: white;
    text-decoration: none;
    font-size: 20px;
    float:right;
    margin: 10px;

   
}

.logo {
    margin-right: 70px;
    float:left;
}

.navLOGO {
    font-size: 30px;
    font-weight: bold;
}
 

img {
    width: 100%;
}



.containar{

    background-color: white;
    height: 150px;
}
.text{

    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    color:#A6A4A4 ;
    font-family: sans-serif;
    font-size:15px;
    padding-top: 50px;
}

.body{
    margin-top: 10px;
    height:600px;
    width: 100%;
    background-color:whitesmoke;

}
h2{
    font-family:sans-serif;
    margin-left: 150px;
    padding-top: 50px;
    color:#706E6E  ;
    
}
.body-text{
    font-family: sans-serif;
    text-align: left;
    margin-left: 150px;
    padding-top: 10px;
    color:#A6A4A4 ;
    font-size: 15px;
    margin-right: 150px;
}

.cimg{
    height: 5pxpx;
    width: 5px;
}

.footer {
    background-color: #380303;
    height: 300px;
}

/*
.card {
    
    width: 200px;
    margin: 60px;
    text-align: center;
    font-family: arial;
    float: left;
    
  }
  
  .cardtext {
    color: grey;
    font-size: 20px;
    text-align: left;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:rgb(179, 44, 44);
    text-align: center;
    width: 100%;
    font-size: 18px;
  }

  
  .footer {
    background-color: #380303;
    padding-bottom: 40px;
    height: 300px;
}

.copyright{
    text-align: center;
    color: white;
}
.fbtext{
color: white;
font-family: sans-serif;
    
}
*/
