* {
    margin: 0;
    padding: 0;
}

.coffee-nav{
	float: right;
	height: 100%;
}
 
.navbar {
    background-color: #640606;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.navlink {
    display: inline;
    margin: 0 10px;
}

.navAnchor {
    color: white;
    text-decoration: none;
    font-size: 20px;
    float:right;
    margin: 10px;

   
}

.logo {
    margin-right: 70px;
}

.navLOGO {
    font-size: 30px;
    font-weight: bold;
}
.container{
    height: 500px;
    color: #d3cdcd;

}

.card {
    
    max-width: 300px;
    text-align: center;
    font-family: arial;
    float: left;
    margin:10px;
    
  }
  
  h5{
    color: black;  
  }
  h6{
      color: black;
  }



  .footer {
    background-color: #380303;
    height: 300px;
}
