* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #640606;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.navlink {
    display: inline;
    margin: 0 10px;
}

.navAnchor {
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 15px;
}

.logo {
    margin-right: 70px;
}

.navLOGO {
    font-size: 30px;
    font-weight: bold;
}