.heder{
    
    
    height:50px;
    width: 100%;
    background-color: blueviolet;
    
}

.logo{
    margin: 0px;
    height: 50px;
    width: 70px;
}
.home{
    float: right;
}



 img{
     margin-top: 5px;
     height: 400px;
     width: 1500px;
 }
.container2{
    margin-top: 10px;
    height:500px;
    width: 100%;
    background-color:lightgoldenrodyellow;

}
 .footer{
     margin-top: 10px;
     height: 300px;
     background-color: blueviolet;
     
    

 }